<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div style="margin-top: 25px"></div>
      <h4>List of Assignment</h4>
      <ul class="list-group">
        <li class="list-group-item"><a routerLink="/">Home</a></li>
        <li class="list-group-item"><a routerLink="/assignment1">Assignment 1</a></li>
        <li class="list-group-item"><a routerLink="/assignment2">Assignment 2</a></li>
        <li class="list-group-item"><a routerLink="/assignment3">Assignment 3</a></li>
        <li class="list-group-item"><a routerLink="/project1">Project 1</a></li>
        <li class="list-group-item"><a routerLink="/assignment4">Assignment 4</a></li>
        <li class="list-group-item"><a routerLink="/directives">Directives</a></li>
        <li class="list-group-item"><a routerLink="/assignment5">Assignment 5</a></li>
        <li class="list-group-item"><a routerLink="/routing-basic">Routing Basic</a></li>
        <li class="list-group-item"><a routerLink="/observables">Observabels Basic</a></li>
        <li class="list-group-item"><a routerLink="/template-forms">Template Forms</a></li>
        <li class="list-group-item"><a routerLink="/assignment6">Assignment 6</a></li>
        <li class="list-group-item"><a routerLink="/reactive-forms">Reactive Form</a></li>
        <li class="list-group-item"><a routerLink="/assignment7">Assignment 7</a></li>
        <li class="list-group-item"><a routerLink="/pipes">Pipes</a></li>
        <li class="list-group-item"><a routerLink="/assignment8">Assignment 8</a></li>
      </ul>
    </div>
  </div>
</div>