<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Directives</h1>
        <h2>Basic Directive</h2>
        <p appBasicHighlighter>This is the example of directives</p>
        <ul>
            <li appBasicHighlighter>Li element</li>
        </ul>

        <h2>Using Rendere</h2>
        <p appBettertHighlighter>This is a Better way to use Directive using Rendere</p>
        <div appBettertHighlighter>Using on Div</div>
      </div>
    </div>

</div>

