.container {
  margin: 0;
  margin-top: 30px;
  margin-left: 10px;
}

.loader {
  border: 8px solid #d6d6d6;
  border-top: 8px solid rgb(76, 76, 76);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  animation: spin 1s linear infinite
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}