<div class="container">
    <h3>Filter Server By Status</h3>
    <input type="text" [(ngModel)]="filterInput">
    <button class="btn btn-primary ms-2" (click)="addServer()">Add Server</button>
    <hr>
    <h2>App Status : {{appStatus | async}}</h2>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let server of servers | filter:filterInput:'status'"
                    [ngClass]="getStatusClasses(server)">
                    <!-- Filter pipe takes whole array and not a single item of array  -->
                    <!-- pipename : parameter1: parameter2: parameter3 and so on  -->
                    <span class="badge bg">{{ server.status }}</span>
                    <strong>{{ server.name | shorten:10}}</strong> |
                    {{ server.instanceType | uppercase }} |
                    {{ server.started | date:"fullDate" | uppercase }}
                </li>
            </ul>
        </div>
    </div>
</div>