<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Assignment 7 : Reactive Driven Form</h1>
            <p>Create a Form with the following Controls and Validators</p>
            <ol>
                <li>Project Name (should not be empty)</li>
                <li> Mail (should not be a empty and a valid email)</li>
                <li>Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'</li>
                <li>Submit Button</li>
                <li>Add your own Validator which doesn't allow "Test" as a Project Name</li>
                <li>Also implement that Validator as an async Validator (replace the other one)</li>
                <li>Upon submitting the form, simply print the value to the console</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Solutions</h1>
            <div class="row">
                <div class="col-9">
                    <div class="w-80">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group mb-3">
                                <label for="projectName" class="mb-2">Project Name</label>
                                <input type="text" id="projectName" class="form-control" formControlName="projectName">
                                <p *ngIf="!form.get('projectName').valid && form.get('projectName').touched">
                                    <span *ngIf="form.get('projectName').errors['required']">Please Add Project
                                        Name.</span>
                                    <span *ngIf="form.get('projectName').errors['projectNameNotAllowed']">
                                        Project Name is InValid. Choose another one.
                                    </span>
                                </p>
                            </div>
                            <div class="form-group mb-3">
                                <label for="email" class="mb-2">Email</label>
                                <input type="email" id="email" class="form-control" formControlName="email">
                                <p *ngIf="!form.get('email').valid && form.get('email').touched">
                                    <span *ngIf="form.get('email')?.errors['required']">Please Add Email.</span>
                                    <span *ngIf="form.get('email')?.errors['email']">Please Add a valid Email.</span>
                                    <span *ngIf="form.get('email')?.errors['emailNotAllowed']">
                                        Email is InValid. Choose another one.
                                    </span>
                                </p>
                            </div>
                            <div class="form-group mb-3">
                                <label for="status" class="mb-2">Project Status</label>
                                <select class="form-control" id="status" formControlName="status">
                                    <option>Finished</option>
                                    <option>Critical</option>
                                    <option>Stable</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>