.tool-tip::after {
    content: attr(data-tooltip);
    width: fit-content;
    height: 10px;
    position: relative;
    top: -35px;
    right: 60px;
    opacity: 0;
    background-color: white;
    padding: 10px;
    border: 1px #d5d3c4 solid;
}

.tool-tip:hover::after {
    opacity: 1;
}


input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 2px solid red
}

.img-responsive {
    width: 50%;
    height: 50%;
}